<h1>Single Biz</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div *ngFor="let business of business_list" class="card text-white bg-primary mb-3">
                <div class="card-header">
                    Name: {{business.name}} <br>
                </div>
                <div class="card-body">
                    This business based in {{business.town}}
                </div>
                <div class="card-footer">
                    <span *ngFor="let star of [].constructor(business.rating)">
                        <img src="./images/star.png" alt="star for rating"
                        style="width: 30px; height: 30px;">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>